table.battleplanes-board {
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
table.battleplanes-board tbody td {
  border: 1px solid #000;
  width: 2em;
  height: 2em;
  overflow: hidden;
}
table.battleplanes-board thead {
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
}

.plane-1 {
    background: red;
}
.plane-2 {
    background: blue;
}
.plane-3 {
    background: green;
}
.plane-killed-1 {
    background: red;
    opacity: 0.5;
}
.plane-killed-2 {
    background: blue;
    opacity: 0.5;
}
.plane-killed-3 {
    background: green;
    opacity: 0.5;
}
